<!doctype html>
<html>
  <head>
    <title>Host On Node Js Server</title>
    <meta charset="utf-8">
    <style>body {
      color: #333;
      background: linear-gradient(99deg, #002286 0%, #E91DFF 100%);
      text-align: center;
      padding-top: 100px;
    }</style>
  </head>
  <body>
    <h1>Hello</h1>
    <p>its a simple site example on node server</p>
    <video src="video.mp4" controls></video>
    
  </body>
</html>